= content_for :title do
  #{@developer.login} &middot; Keys

= link_to developers_path do
  &laquo;
  Back to the Developers

%h3= @developer.login

.container
  .row
    .keys-wrapper
      .keys
        = render partial: 'keys/key', collection: @keys

- unless @keys.present?
  .jumbotron
    %b No keys for #{@developer.login}